In [1]:
import sys
sys.path.append("/home/sjinich/disco/gene-mapper")

In [2]:
from gene_mapper import gene_mapper

In [3]:
import pandas as pd

targets_validados = pd.read_pickle('./targets_validados_secuencias.pickle')
targets_autores = pd.read_pickle('./targets_autores_secuencias.pickle')
print(targets_validados.head())
print(targets_autores.head())

  uniprot_accession      chembl_id yeast_genome  \
0            Q99685     CHEMBL4191          NaN
1            O35678     CHEMBL5774          NaN
2            Q15046     CHEMBL5575          NaN
3            Q4D7V3            NaN          NaN
4            Q8IDJ8  CHEMBL3301561          NaN

                                            sequence
0  MPEESSPRRTPQSIPYQDLPHLVNADGQYLFCRYWKPTGTPKALIF...
1  MPEASSPRRTPQNVPYQDLPHLVNADGQYLFCRYWKPSGTPKALIF...
2  MAAVQAAEVKVDGSEPKLSKNELKRRLKAEKKVAEKEAKQKELSEK...
3  MSSTNETRAQIDDLAAAIARVKKEKGAASEECKALVAKMTELRKQL...
4  MTSKSFLLSFLKYKHVNTYIFEKSFSKILKNTKKHIDCHLKSCFVT...
  uniprot_accession   target_id                                    anotation  \
0            O00519  CHEMBL2243                    Anandamide amidohydrolase
1            P51451  CHEMBL2250                  Tyrosine-protein kinase BLK
2            P53634  CHEMBL2252                       Dipeptidyl peptidase I
3            P23141  CHEMBL2265  Acyl coenzyme A:cholesterol acyltransferase
4            Q8VBU5  CHEMBL2272                         Phosphodiesterase 4B

             type                                           sequence
0  SINGLE PROTEIN  MVQYELWAALPGASGVALACCFVAAAVALRWSGRRTARGAVVRARQ...
1  SINGLE PROTEIN  MGLVSSKKPDKEKPIKEKDKGQWSPLKVSAQDKDAPPLPPLVVFNH...
2  SINGLE PROTEIN  MGAGPSLLLAALLLLLSGDGAVRCDTPANCTYLDLLGTWVFQVGSS...
3  SINGLE PROTEIN  MWLRAFILATLSASAAWGHPSSPPVVDTVHGKVLGKFVSLEGFAQP...
4  SINGLE PROTEIN  MTAKNSPKEFTASESEVCIKTFKEQMRLELELPKLPGNRPTSPKIS...

In [4]:
targets_autores_seq = gene_mapper.df_to_seq_df(dataframe=targets_autores,sequence_column='sequence')
targets_autores_seq

,uniprot_accession,target_id,anotation,type,_seq
0,O00519,CHEMBL2243,Anandamide amidohydrolase,SINGLE PROTEIN,"(M, V, Q, Y, E, L, W, A, A, L, P, G, A, S, G, ..."
1,P51451,CHEMBL2250,Tyrosine-protein kinase BLK,SINGLE PROTEIN,"(M, G, L, V, S, S, K, K, P, D, K, E, K, P, I, ..."
2,P53634,CHEMBL2252,Dipeptidyl peptidase I,SINGLE PROTEIN,"(M, G, A, G, P, S, L, L, L, A, A, L, L, L, L, ..."
3,P23141,CHEMBL2265,Acyl coenzyme A:cholesterol acyltransferase,SINGLE PROTEIN,"(M, W, L, R, A, F, I, L, A, T, L, S, A, S, A, ..."
4,Q8VBU5,CHEMBL2272,Phosphodiesterase 4B,SINGLE PROTEIN,"(M, T, A, K, N, S, P, K, E, F, T, A, S, E, S, ..."
...,...,...,...,...,...
807,Q9UGL1,CHEMBL3774295,Lysine-specific demethylase 5B,SINGLE PROTEIN,"(M, E, A, A, T, T, L, H, P, G, P, R, P, A, L, ..."
808,P02778,CHEMBL3712964,C-X-C motif chemokine 10,SINGLE PROTEIN,"(M, N, Q, T, A, I, L, I, C, C, L, I, F, L, T, ..."
809,P10646,CHEMBL3713062,Tissue factor pathway inhibitor,SINGLE PROTEIN,"(M, I, Y, T, M, K, K, V, H, A, L, W, A, S, V, ..."
810,P46095,CHEMBL3714130,G-protein coupled receptor 6,SINGLE PROTEIN,"(M, N, A, S, A, A, S, L, N, D, S, Q, V, V, V, ..."
811,G3HIE5,CHEMBL3988609,Prokineticin receptor 1,SINGLE PROTEIN,"(M, P, P, P, A, W, M, E, P, T, V, G, A, L, G, ..."

In [5]:
targets_validados_seq = gene_mapper.df_to_seq_df(targets_validados,sequence_column='sequence')
targets_validados_seq

,uniprot_accession,chembl_id,yeast_genome,_seq
0,Q99685,CHEMBL4191,NaN,"(M, P, E, E, S, S, P, R, R, T, P, Q, S, I, P, ..."
1,O35678,CHEMBL5774,NaN,"(M, P, E, A, S, S, P, R, R, T, P, Q, N, V, P, ..."
2,Q15046,CHEMBL5575,NaN,"(M, A, A, V, Q, A, A, E, V, K, V, D, G, S, E, ..."
3,Q4D7V3,NaN,NaN,"(M, S, S, T, N, E, T, R, A, Q, I, D, D, L, A, ..."
4,Q8IDJ8,CHEMBL3301561,NaN,"(M, T, S, K, S, F, L, L, S, F, L, K, Y, K, H, ..."
5,Q86SQ9,NaN,NaN,"(M, S, W, I, K, E, G, E, L, S, L, W, E, R, F, ..."
6,Q96E22,NaN,NaN,"(M, T, G, L, Y, E, L, V, W, R, V, L, H, A, L, ..."
7,P35196,NaN,RER2,"(M, E, T, D, S, G, I, P, G, H, S, F, V, L, K, ..."
8,Q12063,NaN,NUS1,"(M, P, T, M, I, K, K, D, D, K, A, M, E, P, P, ..."
9,Q4DV81,NaN,NaN,"(M, H, A, S, A, C, F, E, D, D, A, R, V, L, G, ..."
10,NaN,NaN,KRS1,"(M, S, Q, Q, D, N, V, K, A, A, A, E, G, V, A, ..."

In [6]:
mapper = gene_mapper()

2023-07-05 14:47:51:INFO: --- GENE_MAPPER CLASS CREATED 140276204207824 ---
2023-07-05 14:47:51:INFO: useing default configurations
2023-07-05 14:47:51:INFO: configuration class instansiated successfully

In [7]:
targets_autores_seq["id"] = targets_autores_seq.target_id
targets_validados_seq["id"] = targets_validados_seq.chembl_id

In [8]:
targets_autores_seq

,uniprot_accession,target_id,anotation,type,_seq,id
0,O00519,CHEMBL2243,Anandamide amidohydrolase,SINGLE PROTEIN,"(M, V, Q, Y, E, L, W, A, A, L, P, G, A, S, G, ...",CHEMBL2243
1,P51451,CHEMBL2250,Tyrosine-protein kinase BLK,SINGLE PROTEIN,"(M, G, L, V, S, S, K, K, P, D, K, E, K, P, I, ...",CHEMBL2250
2,P53634,CHEMBL2252,Dipeptidyl peptidase I,SINGLE PROTEIN,"(M, G, A, G, P, S, L, L, L, A, A, L, L, L, L, ...",CHEMBL2252
3,P23141,CHEMBL2265,Acyl coenzyme A:cholesterol acyltransferase,SINGLE PROTEIN,"(M, W, L, R, A, F, I, L, A, T, L, S, A, S, A, ...",CHEMBL2265
4,Q8VBU5,CHEMBL2272,Phosphodiesterase 4B,SINGLE PROTEIN,"(M, T, A, K, N, S, P, K, E, F, T, A, S, E, S, ...",CHEMBL2272
...,...,...,...,...,...,...
807,Q9UGL1,CHEMBL3774295,Lysine-specific demethylase 5B,SINGLE PROTEIN,"(M, E, A, A, T, T, L, H, P, G, P, R, P, A, L, ...",CHEMBL3774295
808,P02778,CHEMBL3712964,C-X-C motif chemokine 10,SINGLE PROTEIN,"(M, N, Q, T, A, I, L, I, C, C, L, I, F, L, T, ...",CHEMBL3712964
809,P10646,CHEMBL3713062,Tissue factor pathway inhibitor,SINGLE PROTEIN,"(M, I, Y, T, M, K, K, V, H, A, L, W, A, S, V, ...",CHEMBL3713062
810,P46095,CHEMBL3714130,G-protein coupled receptor 6,SINGLE PROTEIN,"(M, N, A, S, A, A, S, L, N, D, S, Q, V, V, V, ...",CHEMBL3714130
811,G3HIE5,CHEMBL3988609,Prokineticin receptor 1,SINGLE PROTEIN,"(M, P, P, P, A, W, M, E, P, T, V, G, A, L, G, ...",CHEMBL3988609

In [9]:
targets_validados_seq.id = targets_validados_seq.id.fillna(targets_validados_seq.uniprot_accession)
targets_validados_seq.id = targets_validados_seq.id.fillna(targets_validados_seq.yeast_genome)

In [10]:
targets_validados_seq

,uniprot_accession,chembl_id,yeast_genome,_seq,id
0,Q99685,CHEMBL4191,NaN,"(M, P, E, E, S, S, P, R, R, T, P, Q, S, I, P, ...",CHEMBL4191
1,O35678,CHEMBL5774,NaN,"(M, P, E, A, S, S, P, R, R, T, P, Q, N, V, P, ...",CHEMBL5774
2,Q15046,CHEMBL5575,NaN,"(M, A, A, V, Q, A, A, E, V, K, V, D, G, S, E, ...",CHEMBL5575
3,Q4D7V3,NaN,NaN,"(M, S, S, T, N, E, T, R, A, Q, I, D, D, L, A, ...",Q4D7V3
4,Q8IDJ8,CHEMBL3301561,NaN,"(M, T, S, K, S, F, L, L, S, F, L, K, Y, K, H, ...",CHEMBL3301561
5,Q86SQ9,NaN,NaN,"(M, S, W, I, K, E, G, E, L, S, L, W, E, R, F, ...",Q86SQ9
6,Q96E22,NaN,NaN,"(M, T, G, L, Y, E, L, V, W, R, V, L, H, A, L, ...",Q96E22
7,P35196,NaN,RER2,"(M, E, T, D, S, G, I, P, G, H, S, F, V, L, K, ...",P35196
8,Q12063,NaN,NUS1,"(M, P, T, M, I, K, K, D, D, K, A, M, E, P, P, ...",Q12063
9,Q4DV81,NaN,NaN,"(M, H, A, S, A, C, F, E, D, D, A, R, V, L, G, ...",Q4DV81
10,NaN,NaN,KRS1,"(M, S, Q, Q, D, N, V, K, A, A, A, E, G, V, A, ...",KRS1

In [11]:
targets_autores_seq

,uniprot_accession,target_id,anotation,type,_seq,id
0,O00519,CHEMBL2243,Anandamide amidohydrolase,SINGLE PROTEIN,"(M, V, Q, Y, E, L, W, A, A, L, P, G, A, S, G, ...",CHEMBL2243
1,P51451,CHEMBL2250,Tyrosine-protein kinase BLK,SINGLE PROTEIN,"(M, G, L, V, S, S, K, K, P, D, K, E, K, P, I, ...",CHEMBL2250
2,P53634,CHEMBL2252,Dipeptidyl peptidase I,SINGLE PROTEIN,"(M, G, A, G, P, S, L, L, L, A, A, L, L, L, L, ...",CHEMBL2252
3,P23141,CHEMBL2265,Acyl coenzyme A:cholesterol acyltransferase,SINGLE PROTEIN,"(M, W, L, R, A, F, I, L, A, T, L, S, A, S, A, ...",CHEMBL2265
4,Q8VBU5,CHEMBL2272,Phosphodiesterase 4B,SINGLE PROTEIN,"(M, T, A, K, N, S, P, K, E, F, T, A, S, E, S, ...",CHEMBL2272
...,...,...,...,...,...,...
807,Q9UGL1,CHEMBL3774295,Lysine-specific demethylase 5B,SINGLE PROTEIN,"(M, E, A, A, T, T, L, H, P, G, P, R, P, A, L, ...",CHEMBL3774295
808,P02778,CHEMBL3712964,C-X-C motif chemokine 10,SINGLE PROTEIN,"(M, N, Q, T, A, I, L, I, C, C, L, I, F, L, T, ...",CHEMBL3712964
809,P10646,CHEMBL3713062,Tissue factor pathway inhibitor,SINGLE PROTEIN,"(M, I, Y, T, M, K, K, V, H, A, L, W, A, S, V, ...",CHEMBL3713062
810,P46095,CHEMBL3714130,G-protein coupled receptor 6,SINGLE PROTEIN,"(M, N, A, S, A, A, S, L, N, D, S, Q, V, V, V, ...",CHEMBL3714130
811,G3HIE5,CHEMBL3988609,Prokineticin receptor 1,SINGLE PROTEIN,"(M, P, P, P, A, W, M, E, P, T, V, G, A, L, G, ...",CHEMBL3988609

In [30]:
pd.merge(targets_validados_seq,targets_autores_seq[['uniprot_accession','anotation']],'left','uniprot_accession')

,uniprot_accession,chembl_id,yeast_genome,_seq,id,anotation
0,Q99685,CHEMBL4191,NaN,"(M, P, E, E, S, S, P, R, R, T, P, Q, S, I, P, ...",CHEMBL4191,Monoglyceride lipase
1,O35678,CHEMBL5774,NaN,"(M, P, E, A, S, S, P, R, R, T, P, Q, N, V, P, ...",CHEMBL5774,NaN
2,Q15046,CHEMBL5575,NaN,"(M, A, A, V, Q, A, A, E, V, K, V, D, G, S, E, ...",CHEMBL5575,NaN
3,Q4D7V3,NaN,NaN,"(M, S, S, T, N, E, T, R, A, Q, I, D, D, L, A, ...",Q4D7V3,NaN
4,Q8IDJ8,CHEMBL3301561,NaN,"(M, T, S, K, S, F, L, L, S, F, L, K, Y, K, H, ...",CHEMBL3301561,NaN
5,Q86SQ9,NaN,NaN,"(M, S, W, I, K, E, G, E, L, S, L, W, E, R, F, ...",Q86SQ9,NaN
6,Q96E22,NaN,NaN,"(M, T, G, L, Y, E, L, V, W, R, V, L, H, A, L, ...",Q96E22,NaN
7,P35196,NaN,RER2,"(M, E, T, D, S, G, I, P, G, H, S, F, V, L, K, ...",P35196,NaN
8,Q12063,NaN,NUS1,"(M, P, T, M, I, K, K, D, D, K, A, M, E, P, P, ...",Q12063,NaN
9,Q4DV81,NaN,NaN,"(M, H, A, S, A, C, F, E, D, D, A, R, V, L, G, ...",Q4DV81,NaN
10,NaN,NaN,KRS1,"(M, S, Q, Q, D, N, V, K, A, A, A, E, G, V, A, ...",KRS1,NaN

In [31]:
mapper = gene_mapper('/home/sjinich/disco/gene-mapper/config/config_blast.yaml')
blast = mapper.blast_run(targets_validados_seq,targets_autores_seq)
blast

2023-07-05 15:10:08:INFO: --- GENE_MAPPER CLASS CREATED 140276203193936 ---
2023-07-05 15:10:08:INFO: blast configurations imported from '/home/sjinich/disco/gene-mapper/config/config_blast.yaml'
2023-07-05 15:10:08:INFO: configuration class instansiated successfully
2023-07-05 15:10:08:INFO: Runing blast to map genes into df
2023-07-05 15:10:08:DEBUG: /tmp/tmp50hss4g2 was created
2023-07-05 15:10:08:DEBUG: .fasta file for genes to map, was created in /tmp/tmpk0kdsijg.fasta
2023-07-05 15:10:08:DEBUG: .xml file was created for blast output in /tmp/tmp5nl6o7sp.xml
2023-07-05 15:10:08:DEBUG: Generating multifasta with df
2023-07-05 15:10:08:DEBUG: .fasta file was created with dataframe
2023-07-05 15:10:08:INFO: Generateing blast db
2023-07-05 15:10:08:DEBUG: Generating multifasta with df
2023-07-05 15:10:08:DEBUG: .fasta file was created with dataframe
2023-07-05 15:10:08:DEBUG: db will be created in the following file /tmp/tmp50hss4g2/blast_db
2023-07-05 15:10:08:DEBUG: This makeblastdb command is going to get executed makeblastdb -out /tmp/tmp50hss4g2/blast_db -dbtype prot -in /tmp/tmp3mmoss38.fasta -input_type fasta -title 2023-07-05_15:10:08.682287
2023-07-05 15:10:08:INFO: blast db was created
2023-07-05 15:10:08:DEBUG: getting configuration from config object
2023-07-05 15:10:08:DEBUG: Following dictionary sent to blast:
	{'best_hit_overhang': 0.1, 'best_hit_score_edge': 0.1, 'comp_based_stats': 'F', 'matrix': 'BLOSUM45', 'num_alignments': 20, 'seg': 'no', 'soft_masking': True, 'word_size': 2, 'outfmt': 5, 'db': '/tmp/tmp50hss4g2/blast_db', 'query': '/tmp/tmpk0kdsijg.fasta', 'out': '/tmp/tmp5nl6o7sp.xml'}
2023-07-05 15:10:08:DEBUG: This blast command is going to get executed
	"blastp -out /tmp/tmp5nl6o7sp.xml -outfmt 5 -num_alignments 20 -query /tmp/tmpk0kdsijg.fasta -db /tmp/tmp50hss4g2/blast_db -word_size 2 -soft_masking True -best_hit_overhang 0.1 -best_hit_score_edge 0.1 -matrix=BLOSUM45 -comp_based_stats F -seg no"
2023-07-05 15:10:08:INFO: runing blast
2023-07-05 15:10:09:INFO: Blast was succesfully excecuted
2023-07-05 15:10:09:DEBUG: Parseing blast output with NCBIXML
2023-07-05 15:10:09:DEBUG: Blast parsing finished
2023-07-05 15:10:09:DEBUG: Blast garbage collected

,uniprot_accession,chembl_id,yeast_genome,_seq,id,blast,blast_df
0,Q99685,CHEMBL4191,NaN,"(M, P, E, E, S, S, P, R, R, T, P, Q, S, I, P, ...",CHEMBL4191,<Bio.Blast.Record.Blast object at 0x7f94994153d0>,...
1,O35678,CHEMBL5774,NaN,"(M, P, E, A, S, S, P, R, R, T, P, Q, N, V, P, ...",CHEMBL5774,<Bio.Blast.Record.Blast object at 0x7f9499414850>,...
2,Q15046,CHEMBL5575,NaN,"(M, A, A, V, Q, A, A, E, V, K, V, D, G, S, E, ...",CHEMBL5575,<Bio.Blast.Record.Blast object at 0x7f94994175d0>,...
3,Q4D7V3,NaN,NaN,"(M, S, S, T, N, E, T, R, A, Q, I, D, D, L, A, ...",Q4D7V3,<Bio.Blast.Record.Blast object at 0x7f9499417650>,...
4,Q8IDJ8,CHEMBL3301561,NaN,"(M, T, S, K, S, F, L, L, S, F, L, K, Y, K, H, ...",CHEMBL3301561,<Bio.Blast.Record.Blast object at 0x7f9499414990>,...
5,Q86SQ9,NaN,NaN,"(M, S, W, I, K, E, G, E, L, S, L, W, E, R, F, ...",Q86SQ9,<Bio.Blast.Record.Blast object at 0x7f9499423dd0>,...
6,Q96E22,NaN,NaN,"(M, T, G, L, Y, E, L, V, W, R, V, L, H, A, L, ...",Q96E22,<Bio.Blast.Record.Blast object at 0x7f949946d390>,...
7,P35196,NaN,RER2,"(M, E, T, D, S, G, I, P, G, H, S, F, V, L, K, ...",P35196,<Bio.Blast.Record.Blast object at 0x7f949946e610>,...
8,Q12063,NaN,NUS1,"(M, P, T, M, I, K, K, D, D, K, A, M, E, P, P, ...",Q12063,<Bio.Blast.Record.Blast object at 0x7f949946f6d0>,...
9,Q4DV81,NaN,NaN,"(M, H, A, S, A, C, F, E, D, D, A, R, V, L, G, ...",Q4DV81,<Bio.Blast.Record.Blast object at 0x7f94994e4510>,...
10,NaN,NaN,KRS1,"(M, S, Q, Q, D, N, V, K, A, A, A, E, G, V, A, ...",KRS1,<Bio.Blast.Record.Blast object at 0x7f94994e5250>,...

In [35]:
blast.loc[,ast_df']

,CHEMBL3880,CHEMBL5147,CHEMBL3310,CHEMBL3983,CHEMBL1868,CHEMBL2835,CHEMBL4478,CHEMBL4409,CHEMBL5747,CHEMBL5847
best_hsp_score,81.0,78.0,76.0,76.0,74.0,73.0,73.0,72.0,72.0,70.0
best_hsp_evalue,0.901995,1.7284,2.00808,2.53648,3.98029,4.80013,5.03377,5.60047,6.15833,6.71949
number_hsps,1,1,1,1,1,1,1,1,1,1
query_length,583,583,583,583,583,583,583,583,583,583
alignment_length,115,63,69,119,207,142,32,95,66,98
coverage_percentage,0.197256,0.108062,0.118353,0.204117,0.35506,0.243568,0.054889,0.16295,0.113208,0.168096
hsps,...,...,...,...,...,...,...,...,...,...