In [2]:
import pandas as pd

In [3]:
targets = pd.read_csv("/home/sjinich/disco/deepscreen_clean/chembl27_uniprot_mapping.txt",delimiter='\t',header=None,names=['uniprot_accesion','target_id','anotation','type'])

In [4]:
targets

,uniprot_accesion,target_id,anotation,type
0,P21266,CHEMBL2242,Glutathione S-transferase Mu 3,SINGLE PROTEIN
1,O00519,CHEMBL2243,Anandamide amidohydrolase,SINGLE PROTEIN
2,P19217,CHEMBL2244,Estrogen sulfotransferase,SINGLE PROTEIN
3,P97292,CHEMBL2245,Histamine H2 receptor,SINGLE PROTEIN
4,P17342,CHEMBL2247,Atrial natriuretic peptide receptor C,SINGLE PROTEIN
...,...,...,...,...
11779,Q91ZR5,CHEMBL3886121,Cation channel sperm-associated protein 1,SINGLE PROTEIN
11780,P48763,CHEMBL3886122,Sodium/hydrogen exchanger 2,SINGLE PROTEIN
11781,Q9UKU6,CHEMBL3886123,Thyrotropin-releasing hormone-degrading ectoen...,SINGLE PROTEIN
11782,Q9JJH7,CHEMBL3886124,Transient receptor potential cation channel su...,SINGLE PROTEIN
11783,B2GV46,CHEMBL3886125,Free fatty acid receptor 3,SINGLE PROTEIN

In [5]:
import os
dir = os.listdir('/home/sjinich/disco/deepscreen_clean/data_autores_inchi/')
training_datasets = [chemblid[:chemblid.find('.pickle')] for chemblid in dir]

In [6]:
accessions = targets[targets.target_id.isin(training_datasets)]['uniprot_accesion'].tolist()
len(accessions)

812

In [1]:
import pandas as pd
import requests

def get_protein_sequence(uniprot_accession):
    url = f"https://www.uniprot.org/uniprot/{uniprot_accession}.fasta"
    response = requests.get(url)
    response.raise_for_status()
    lines = response.text.split("\n")
    sequence = "".join(lines[1:])  # Concatenate all lines except the first (header)
    return sequence

def get_all_protein_sequences(uniprot_accessions):
    protein_sequences = []
    for accession in uniprot_accessions:
        try:
            sequence = get_protein_sequence(accession)
            protein_sequences.append({'Accession': accession, 'Sequence': sequence})
            print(f"Retrieved sequence for {accession}")
        except requests.exceptions.HTTPError as e:
            print(f"Error retrieving sequence for {accession}: {e}")
    return pd.DataFrame(protein_sequences)

In [ ]:

df = get_all_protein_sequences(accessions)
df.to_pickle('uniprot_mapping.pickle')

In [3]:
targets_validados = pd.read_pickle('targets_validados.pickle')
targets_validados

,uniprot_accession,chembl_id,yeast_genome,sequence
0,Q99685,CHEMBL4191,NaN,NaN
1,O35678,CHEMBL5774,NaN,NaN
2,Q15046,CHEMBL5575,NaN,NaN
3,Q4D7V3,NaN,NaN,NaN
4,Q8IDJ8,CHEMBL3301561,NaN,NaN
5,Q86SQ9,NaN,NaN,NaN
6,Q96E22,NaN,NaN,NaN
7,P35196,NaN,RER2,NaN
8,Q12063,NaN,NUS1,NaN
9,Q4DV81,NaN,NaN,NaN
10,NaN,NaN,KRS1,MSQQDNVKAAAEGVANLHLDEATGEMVSKSELKKRIKQRQVEAKKA...

In [4]:
accessions_validados = targets_validados.uniprot_accession.dropna().tolist()
accessions_validados

['Q99685',
 'O35678',
 'Q15046',
 'Q4D7V3',
 'Q8IDJ8',
 'Q86SQ9',
 'Q96E22',
 'P35196',
 'Q12063',
 'Q4DV81']

In [6]:
targets_validados_seq = get_all_protein_sequences(accessions_validados)

Retrieved sequence for Q99685
Retrieved sequence for O35678
Retrieved sequence for Q15046
Retrieved sequence for Q4D7V3
Retrieved sequence for Q8IDJ8
Retrieved sequence for Q86SQ9
Retrieved sequence for Q96E22
Retrieved sequence for P35196
Retrieved sequence for Q12063
Retrieved sequence for Q4DV81

In [13]:
targets_validados_seq = targets_validados_seq.rename(columns={'Accession':'uniprot_accession','Sequence':'sequence'})

In [28]:
print(targets_validados)

   uniprot_accession      chembl_id yeast_genome  \
0             Q99685     CHEMBL4191          NaN
1             O35678     CHEMBL5774          NaN
2             Q15046     CHEMBL5575          NaN
3             Q4D7V3            NaN          NaN
4             Q8IDJ8  CHEMBL3301561          NaN
5             Q86SQ9            NaN          NaN
6             Q96E22            NaN          NaN
7             P35196            NaN         RER2
8             Q12063            NaN         NUS1
9             Q4DV81            NaN          NaN
10               NaN            NaN         KRS1

                                             sequence
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10  MSQQDNVKAAAEGVANLHLDEATGEMVSKSELKKRIKQRQVEAKKA...

In [27]:
print(targets_validados_seq)

  uniprot_accession                                           sequence
0            Q99685  MPEESSPRRTPQSIPYQDLPHLVNADGQYLFCRYWKPTGTPKALIF...
1            O35678  MPEASSPRRTPQNVPYQDLPHLVNADGQYLFCRYWKPSGTPKALIF...
2            Q15046  MAAVQAAEVKVDGSEPKLSKNELKRRLKAEKKVAEKEAKQKELSEK...
3            Q4D7V3  MSSTNETRAQIDDLAAAIARVKKEKGAASEECKALVAKMTELRKQL...
4            Q8IDJ8  MTSKSFLLSFLKYKHVNTYIFEKSFSKILKNTKKHIDCHLKSCFVT...
5            Q86SQ9  MSWIKEGELSLWERFCANIIKAGPMPKHIAFIMDGNRRYAKKCQVE...
6            Q96E22  MTGLYELVWRVLHALLCLHRTLTSWLRVRFGTWNWIWRRCCRAASA...
7            P35196  METDSGIPGHSFVLKWTKNIFSRTLRASNCVPRHVGFIMDGNRRFA...
8            Q12063  MPTMIKKDDKAMEPPNEKPHRKIERDDVPESSNHIPPPESGVLKGG...
9            Q4DV81  MHASACFEDDARVLGTLFADTSDPVFVLNCCRFCSVDALTEGFEVI...

In [29]:
targets_validadados_merge = pd.merge(targets_validados,targets_validados_seq,'outer',on=['uniprot_accession'])

In [32]:
targets_validadados_merge.sequence_x.fillna(targets_validadados_merge.sequence_y, inplace=True)

In [33]:
targets_validadados_merge

,uniprot_accession,chembl_id,yeast_genome,sequence_x,sequence_y
0,Q99685,CHEMBL4191,NaN,MPEESSPRRTPQSIPYQDLPHLVNADGQYLFCRYWKPTGTPKALIF...,MPEESSPRRTPQSIPYQDLPHLVNADGQYLFCRYWKPTGTPKALIF...
1,O35678,CHEMBL5774,NaN,MPEASSPRRTPQNVPYQDLPHLVNADGQYLFCRYWKPSGTPKALIF...,MPEASSPRRTPQNVPYQDLPHLVNADGQYLFCRYWKPSGTPKALIF...
2,Q15046,CHEMBL5575,NaN,MAAVQAAEVKVDGSEPKLSKNELKRRLKAEKKVAEKEAKQKELSEK...,MAAVQAAEVKVDGSEPKLSKNELKRRLKAEKKVAEKEAKQKELSEK...
3,Q4D7V3,NaN,NaN,MSSTNETRAQIDDLAAAIARVKKEKGAASEECKALVAKMTELRKQL...,MSSTNETRAQIDDLAAAIARVKKEKGAASEECKALVAKMTELRKQL...
4,Q8IDJ8,CHEMBL3301561,NaN,MTSKSFLLSFLKYKHVNTYIFEKSFSKILKNTKKHIDCHLKSCFVT...,MTSKSFLLSFLKYKHVNTYIFEKSFSKILKNTKKHIDCHLKSCFVT...
5,Q86SQ9,NaN,NaN,MSWIKEGELSLWERFCANIIKAGPMPKHIAFIMDGNRRYAKKCQVE...,MSWIKEGELSLWERFCANIIKAGPMPKHIAFIMDGNRRYAKKCQVE...
6,Q96E22,NaN,NaN,MTGLYELVWRVLHALLCLHRTLTSWLRVRFGTWNWIWRRCCRAASA...,MTGLYELVWRVLHALLCLHRTLTSWLRVRFGTWNWIWRRCCRAASA...
7,P35196,NaN,RER2,METDSGIPGHSFVLKWTKNIFSRTLRASNCVPRHVGFIMDGNRRFA...,METDSGIPGHSFVLKWTKNIFSRTLRASNCVPRHVGFIMDGNRRFA...
8,Q12063,NaN,NUS1,MPTMIKKDDKAMEPPNEKPHRKIERDDVPESSNHIPPPESGVLKGG...,MPTMIKKDDKAMEPPNEKPHRKIERDDVPESSNHIPPPESGVLKGG...
9,Q4DV81,NaN,NaN,MHASACFEDDARVLGTLFADTSDPVFVLNCCRFCSVDALTEGFEVI...,MHASACFEDDARVLGTLFADTSDPVFVLNCCRFCSVDALTEGFEVI...
10,NaN,NaN,KRS1,MSQQDNVKAAAEGVANLHLDEATGEMVSKSELKKRIKQRQVEAKKA...,NaN

In [35]:
targets_validadados_merge.drop(columns='sequence_y', inplace=True)
targets_validadados_merge.rename(columns={'sequence_x':'sequence'},inplace=True)

In [37]:
targets_validadados_merge.to_pickle('targets_validados_secuencias.pickle')